body{
    background: #007eaf;
    text-align: center;
}
div{
    text-align: center;
}

.startbtn{
    background-color: skyblue;
    padding: 5px;
    font-size: 20px;
    color: #007eaf;
    border-radius: 5px;;
}
canvas{
    
    border: 2px dashed gray;
    background: skyblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.instructions, h1{
    color: skyblue;
    font-family: sans-serif;
}